<footer class="bg-black text-white -mb-6 w-full text-center mt-6">
  <div class="max-w-7xl mx-auto pt-14 pb-10 items-center divide-y">
    <ul class="flex flex-col items-center font-normal gap-2 pb-10">
      <p class="font-bold">© 2023 BAYABLU</p>
      <p>Via Cantonale 69 6805 Mezzovico (CH)</p>
      <p>Partita IVA CHE-321.366.709 IVA</p>
      <p>
        11Tutti i Diritti sono riservati. E' vietata qualsiasi riproduzione,
        anche parziale
      </p>

      <hr class="text-white bg-white" />
    </ul>

    <div class="py-6 text-center">
      <p>
        *This Website is non a part of Facebook or Facebook Inc. Additionally,
        this site is NOT endorsed by Facebook in any way.
      </p>
      <p>FACEBOOK is a trademark of FACEBOOK Inc.</p>
    </div>

    <div class="pt-6">
      <a
        href="./termini-condizioni.html"
        class="text-white hover:text-gray-400 mr-4"
        >Termini e Condizioni</a
      >
      <a href="./privacy-cookie.html" class="text-white hover:text-gray-400"
        >Politica sulla Privacy & Politica sui Cookie</a
      >
    </div>
  </div>
</footer>
