<div>
  <!-- cover -->
  <img
    src="https://m.media-amazon.com/images/S/al-eu-726f4d26-7fdb/c897c217-b6d4-4c40-8b6d-92121e4d698e._CR0%2C0%2C1500%2C300_SX1280_.png"
    alt="Cover"
    class="-mt-6 mb-6 hidden lg:block w-full"
  />

  <!-- header -->
  <header class="select-none">
    <ul
      class="hidden lg:flex items-center justify-center gap-11 text-sm font-medium"
    >
      <li class="nav-item active">
        <a href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a href="autoabbronzanti.html"> Autoabbronzanti viso e corpo </a>
      </li>
      <li class="nav-item">
        <a href="protezione.html"> Protezione Solare </a>
      </li>
      <li class="nav-item">
        <a href="olio.html"> OLIO SUPER ABBRONZANTE </a>
      </li>
      <li class="nav-item">
        <a href="chisiamo.html">Chi Siamo</a>
      </li>
    </ul>
    <div class="flex items-center justify-between lg:hidden">
      <img src="/assets/images/logo.png" alt="" class="w-[70px]" />

      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10 cursor-pointer lg:hidden"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
        @click="openSidebar = true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </div>
  </header>

  <!-- Header Offset -->
  <div
    class="bg-white fixed left-0 top-0 z-[100] w-full min-h-screen h-full padding py-6 overflow-auto xl:hidden"
    x-show="openSidebar === true"
  >
    <div class="flex items-center justify-between px-[3%]">
      <a href="/" class="mr-8 shrink-0">
        <img src="/assets/images/logo.png" alt="" class="w-[70px]" />
      </a>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10 text-primary-100 cursor-pointer block"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
        @click="openSidebar = false"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>

    <!-- Menu Offeset -->
    <nav class="flex items-center gap-10 flex-col mt-10">
      <a href="index.html" class="nav-item active w-fit">Home</a>
      <a href="autoabbronzanti.html" class="nav-item w-fit"
        >Autoabbronzanti viso e corpo</a
      >
      <a href="protezione.html" class="nav-item w-fit">Protezione Solare</a>
      <a href="olio.html" class="nav-item w-fit">OLIO SUPER ABBRONZANTE</a>
      <a href="chisiamo.html" class="nav-item w-fit">Chi Siamo</a>
    </nav>
  </div>
</div>
