<section class="text-center py-20">
    <span class="text-2xl font-bold">Condividi </span>
    <p>Condividi questa pagina con i tuoi amici.</p>
  
    <div class="flex items-center justify-center gap-5 md:gap-10 mt-6 flex-wrap">
      <a
        class="h-[50px] w-[50px] flex-shrink-0"
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbayablu.com"
        rel="noreferrer"
      >
        <img
          src="https://m.media-amazon.com/images/G/29/AmazonStores/facebook._CB485941752_.png"
          alt="Share on Facebook"
          class="object-fill"
        />
      </a>
      <a
        class="h-[50px] w-[50px] flex-shrink-0 shrink-0"
        target="_blank"
        href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fbayablu.com&text=Scopri%20Bayablu"
        rel="noreferrer"
      >
        <img
          src="assets/images/twitter.png"
          alt="Share on Twitter"
          class="object-fill"
        />
      </a>
      <a
        class="h-[50px] shrink-0 w-[50px]"
        target="_blank"
        href="https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fbayablu.com"
        rel="noreferrer"
      >
        <img
          src="https://m.media-amazon.com/images/G/29/AmazonStores/pinterest._CB485948207_.png"
          alt="Share on Pinterest"
          class="object-fill"
        />
      </a>
    </div>
  </section>