@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

@font-face {
  font-family: "Recoleta";
  src: url("/assets/fonts/recoleta/Recoleta-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Recoleta";
  src: url("/assets/fonts/recoleta/Recoleta-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: "Recoleta";
  src: url("/assets/fonts/recoleta/Recoleta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/assets/fonts/recoleta/Recoleta-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply py-6;
  }

  li {
    @apply cursor-pointer;
  }

  section,
  header {
    @apply w-full max-w-7xl mx-auto px-[3%];
  }
}

@layer components {
  .section-title {
    @apply text-4xl font-medium font-[recoleta];
  }

  .paragraph {
    @apply text-lg text-[#5F5F5F];
  }

  .nav-item {
    @apply uppercase;
  }

  .nav-item:not(.active) {
    @apply text-base  relative after:content-[''] after:w-full after:h-[2px] after:block after:bg-[#9d694e] after:mt-1 after:absolute after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-300 after:origin-left;
  }

  .nav-item.active {
    @apply relative after:content-[''] after:w-full after:h-[2px] after:block after:bg-[#9d694e] after:mt-1 after:absolute;
  }
}

.hover-animation {
  @apply transition-all ease-in-out duration-300;
}

/* btn  */

.btn_gradient {
  background: linear-gradient(180deg, #3d180d 0%, #9d694e 100%);
}

.main-btn {
  @apply md:mt-12 mt-5 btn_gradient hover-animation hover:scale-110 rounded-md inline-flex pl-14 py-4 gap-7 pr-4 items-center;
}

.card-gradient {
  background: linear-gradient(180deg, #fbdaa2 0%, #ffc738 100%);
}
